<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title><%= @config[:title] %></title>
    <% if css_file && css_file.exist? %>
      <link href="<%= css_file.basename %>" media="screen" rel="stylesheet" type="text/css" />
    <% end %>
    <script src="jquery.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(function(){
        $(".filename").css({opacity: 0.2});
        $("a").css({"text-decoration": "none"});
        $("ul").css({"list-style-type": "none"});
      });
    </script>
  </head>
  <body>
    <div id="index">
      <h1><%= @config[:title] %></h1>
      <ul>
        <% each_file do |file, index| %>
          <li><a href="<%= file.basename %>"><%= index.next %>. <%= h1_part %></a> <span class="filename"><%= file.basename %></span></li>
        <% end %>
      </ul>
    </div>
  </body>
</html>

